body
{
    padding: 0px;
    margin: 0px;
}
a
{
    text-decoration: none;
    color: white;
}
.display-none
{
    display: none;
}

.display-block
{
    display: block;
}


.overlay
{
     background-color: rgba(28, 29, 33 ,0.5);
    height: inherit;
}

header
{
    background: url('../images/header.jpeg');
    height: 625px;
    background-size: cover;
}

header .logo 
{
    padding: 10px;
    font-family: 'Pacifico', cursive;
}

header .logo img
{
    width: 100px;
}
header .nav
{
    display: flex;
    justify-content: space-around;
}

header .nav .pages
{
    margin: 40px 0px;
    font-family: Roboto;
}

header .nav .pages  span
{
    margin: 0px 10px;
}

.drop-down 
{
    cursor: pointer;
    padding: 30px;
    color: white;
}

.drop-down-pages a
{
      color: #1C1D21 ;
}
.drop-down-pages
{
    font-family: Roboto;
    padding: 20px;
    background-color: white;
    position: absolute;
    z-index: 2;
    width: 100%;
}

@media (min-width: 769px)
{
    header .nav .pages span:hover
    {
        border-bottom: 1px solid #FF56CC ;
    }
    #current
    {
        border-bottom: 1px solid #FF56CC ;
    }
    .drop-down
    {
        display: none;
    }
    .drop-down-pages
    {
        display: none;
    }
}

@media (max-width: 768px)
{
    .pages
    {
        display: none;
    }
    .drop-down
    {
        display: block;
    }
}




header .middle
{
    font-family: Roboto;
    color: white;
    max-width: 800px;
    margin: 130px auto;
    text-align: center;
}

header .middle h1
{
    font-size: 60px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
}


.btn
{
    background-color: white;
    padding: 15px 30px;
    border: 0px;
    border-radius: 5px;
    font-family: Roboto;
}

.btn:hover
{
    cursor: pointer;
    background-color: #FF56CC;
    color: white;
}





footer
{
    background-color: #1C1D21;
    padding: 50px 50px 20px 50px ;
}

.footer-logo
{
    display: flex;
    justify-content: center;
}

.footer-logo p
{
    font-size: 20px;
    color: white;
    font-family: 'Pacifico', cursive;
}

footer .icons
{
    display: flex;
    width: 330px;
    margin: 0px auto;
}

footer .icons i
{
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
    color: white;
    background-color: #FF56CC ;
}

footer p
{
    text-transform: uppercase;
    color: #ABABAB;
    text-align: center;
    font-family: Roboto;
    margin-top: 20px;
}